body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}
header{
    background-color: #E7E9FC;
}
.logo .logo-first{
    color: #2e2f42;
}
.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    font-style: bold;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: #4D5AE5;
}
a{
    text-decoration: none;
    color: #2E2F42;
}
.nav-style{
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}
.nav-address-style{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.first-section{
    background-color: #2E2F42;
}
.heading{
    color: white;
    font-weight: 700;
    font-style: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
button{
    background-color: #4D5AE5;
}
.button-text{
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        font-weight: 500;
        color: white;
}
h3{
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.team-text {
    text-align: center;
}

.second-section p{
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.third-section{
    background-color: #F4F4FD;
}
h2{
        font-weight: 700;
        font-style: bold;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
}

.third-section p {
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}


.fourth-section p {
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
footer{
    background-color: #2E2F42;
}
footer p{
    font-weight: 400;
        font-style: regular;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}
footer .logo{
    color: #F4F4FD;
}
